*{
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #568ea0;
    background-color: #5d767f;
}

h2 {
    font-weight: 100;
}

button {
    font-family: 'Raleway', sans-serif;
    border: none;
    background-color: #96c9dd;
    color: #FFFAFA;
    line-height: 36px;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    outline: none;
}


.title {
    margin-top: 50px;
    font-size: 48px;
    font-weight: 300;
    color: white;

}


.navigation {
    padding: 0;
    color: #FFFAFA;
}

.navigation a {
    color: #FFFAFA;
}

.navigation > li {
    display: inline-block;
    margin: 0 4px;
}

.left-side, .right-side {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
}



.component {
    background-color: #FFFAFA;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.comp-head {
    background-color: #F2EFED;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 12px 0;
}

.welcome {
    padding: 0;
    padding-bottom: 24px;
}

.welcome p {
    padding: 0 24px;
    text-align: left;
}

.col {
    display: inline-block;
    line-height: 36px;
    width: 48%;
}

.col.left {
    text-align: right;
}

.col.right {
    text-align: left;
}

.col > label, .col > input {
    display: block;
}

.col > label {
    display: block;
}

.col > input {
    height: 36px;
    width: 140px;
    border: none;
    border-bottom: 1px solid #568ea0;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #568ea0;
    background-color: transparent;
}

.data-entry {
    height: 400px;
    position: relative;
}

.error-messages {
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.error-messages > p {
    width: 60%;
    padding: 12px;
    border-radius: 4px;
    margin: 4px auto;
    background-color: #f7f3cd;
}

.buttons {
    padding: 16px 0;
    margin-top: 120px;
}


.label, .output {
    display: block;
    padding: 0 4px;
}



.total {
    border-top: 1px solid #D3D3D3;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.earnings > .col{
    padding-bottom: 24px;
}


.bottom {
    padding: 16px 0;
    text-align: right;
}

.total-reset {
    background-color: #a36060;
}

@media (max-width:500px){
    .left-side, .right-side, .component {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/*Animations*/

.animation-container {
    position: relative;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition: .6s linear all;
    position: absolute;
    width: 100%;
}
.animate-view.ng-enter { margin-left: 2000px; opacity: 0;}
.animate-view.ng-enter.ng-enter-active { margin-left: 0; opacity: 1;}
.animate-view.ng-leave { margin-left: 0; opacity: 1;}
.animate-view.ng-leave.ng-leave-active { margin-left: -3000px; opacity: 0.7;}
